.App {
  text-align: center;
  --padding-default: 6rem;
  --color-white: #ffffff;
  --color-first: #0977be;
}

.App-logo {
  width: 139px;
  height: 25px;
}

.App-logo,
.love,
.kategori_title,
.kategori_data,
.image_slider,
.slider2_button_chevron,
.slider3_button_chevron,
.slider_button_chevron,
.image_box_slider3,
.popular_box,
.card_1,
.card_2,
.card_3,
.lainnya h4,
.lainnya p,
.sosmed_logo,
.download img,
.footer_sub p {
  cursor: pointer;
}

.App-navbar {
  background: linear-gradient(
    192.48deg,
    var(--color-first) -120.7%,
    #1c88ce 285.22%
  );
}

.App-header {
  min-height: 53px;
  display: flex;
  justify-content: space-between;
  padding-inline: var(--padding-default);
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  background: var(--color-white);
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  width: 763px;
}

button {
  width: 87px;
  height: 36px;
  border-radius: 5px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.button_style_2 {
  background: var(--color-white);
  border: 0.8px solid #c0c2c6;
  border-radius: 6px;
  width: 14rem;
}

.button_style_3 {
  background: var(--color-white);
  border: 0.8px solid var(--color-first);
  border-radius: 6px;
  width: 14rem;
  color: var(--color-first);
  margin-bottom: 2rem;
}

.search_button {
  position: absolute;
  top: 1.1rem;
  right: 28rem;
  cursor: pointer;
  z-index: 1;
}

.navbar_button {
  display: flex;
  width: 12rem;
  justify-content: space-between;
}

.button_primary {
  background-color: var(--color-white);
  color: var(--color-first);
}
.button_secondary {
  background-color: #1e95dd;
  color: var(--color-white);
}

.kategori,
.sub_kategori {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--padding-default);
  align-items: center;
}

.kategori_title {
  font-weight: 700;
  padding-right: 0.5rem;
}

.sub_kategori {
  width: 70vw;
}

.sub_kategori p {
  font-size: 0.9rem;
}

.slider {
  /* position: absolute; */
  transition: transform ease 1s;
  /* overflow-x: hidden; */
  max-width: 100vw;
}

.sub_slider {
  display: flex;
  flex-wrap: nowrap;
}
.sub_slider.slider2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.sub_slider3 {
  display: flex;
  justify-content: space-between;
  margin-inline: var(--padding-default);
  /* overflow-x: hidden; */
}

.image_box_slider.slider2 {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

.image_box_slider.slider2 p {
  position: absolute;
  font-weight: 800;
  font-size: 16px;
  width: 20%;
  text-align: start;
  padding-left: 2rem;
}
.image_box_slider.slider2 img {
  background: linear-gradient(
    28.59deg,
    #f1f3f5 27.01%,
    rgba(236, 237, 239, 0.853365) 45.35%,
    rgba(216, 218, 222, 0.0001) 106.57%
  );
  border-radius: 6.93636px;
}

.image_box_slider3 {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-block: 1rem;
  filter: drop-shadow(0px 3.5px 4px rgba(0, 0, 0, 0.131556));
  background-color: var(--color-white);
  border-radius: 1rem;
  width: 16vw;
  margin-right: 1.57rem;
}

.image_slider {
  margin-inline: var(--padding-default);
  width: calc(88vw - 0.5rem);
}
.image_slider.slider2 {
  margin-inline: 0;
  width: 400px;
}

.slider3_img {
  width: 16vw;
  border-radius: 1rem 1rem 0 0;
}

.berandaSlider {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 1.5rem;
}

.berandaSlider .slideshowDots {
  width: 8px;
  height: 8px;
  background-color: var(--color-white);
  border-radius: 8px;
  margin-inline: 0.1rem;
  opacity: 50%;
  cursor: pointer;
}

.slideshowDots.active {
  opacity: 100%;
}

.top_slider {
  overflow-x: hidden;
}
.top_slider.slider2 {
  overflow-y: hidden;
  margin-inline: var(--padding-default);
}
.top_slider3 {
  overflow-x: hidden;
}

.slider_button_chevron {
  background-color: var(--color-white);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.147427);
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_button_chevron img {
  width: 0.6rem;
  /* align-self: center; */
  margin-block: auto;
}

.slider_button_chevron_position {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-inline: 3.5rem;
  bottom: 12rem;
}

.slider2_button_chevron_position,
.slider3_button_chevron_position {
  display: flex;
  justify-content: space-between;
  margin-inline: 4.5rem;
  position: relative;
  bottom: 5rem;
}

.slider3_button_chevron_position {
  bottom: 11rem;
}

.text_slider2 {
  color: var(--color-first);
}

.trending {
}

.trending_title {
  margin-inline: var(--padding-default);
  display: flex;
  align-items: center;
}

.trending_title_terbaru {
  display: flex;
  justify-content: space-between;
  margin-inline: var(--padding-default);
}

.trending_title_terbaru p {
  color: var(--color-first);
  font-weight: 800;
}

.trending_title h2 {
  padding-inline: 1rem;
}

.slider3_type {
  color: #94969b;
  font-weight: 700;
  font-size: 0.7rem;
  mix-blend-mode: normal;
  opacity: 0.9;
  margin-block: 0.5rem 0;
}

.slider3_title {
  color: #1c1d20;
  font-weight: 700;
  margin-block: 0.5rem 0;
  font-size: 0.8rem;
}

.slider3_rating {
  display: flex;
  justify-content: space-between;
  width: 30%;
  font-size: 0.8rem;
}

.slider3_rating .slider3_star_text {
  padding-right: 1rem;
  font-weight: 600;
}

.slider3_discount {
  display: flex;
  font-size: 0.8rem;
}

.slider3_discount p {
  margin-block: 0.5rem 0.5rem;
}

.slider3_discount .disc_box {
  background: #ffe0e0;
  border-radius: 3px;
  color: #f94759;
  font-weight: 800;
  padding: 3px;
}

.disc_price {
  text-decoration: line-through;
  color: #94969b;
  font-weight: 500;
  padding: 4px 0.5rem;
  font-size: 0.7rem;
}

.disc_total {
  color: #1c1d20;
  font-weight: 800;
  font-size: 1.25rem;
  justify-self: flex-end;
  margin: 0;
}

.disc_no_box {
  margin-top: 2.6rem;
}

.slider3_padding {
  padding: 0.5rem 1.5rem 1.5rem;
}

.flash_clock {
  display: flex;
  background: linear-gradient(225.66deg, #ffaa5d -30.42%, #f63c3c 91.94%);
  border-radius: 12px;
  color: var(--color-white);
  padding: 5px 10px;
  margin-left: 1rem;
}

.flash_clock p {
  margin: 0;
}
.flash_end {
  font-weight: 600;
  color: #5a5c60;
}

h3 {
  text-align: left;
  margin-inline: var(--padding-default);
}
.popular {
  margin-inline: var(--padding-default);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.popular_box {
  background: var(--color-white);
  box-shadow: 0px 3.5px 4px rgba(0, 0, 0, 0.132);
  border-radius: 10px;
  width: 10vw;
  height: 7rem;
  padding: 0.75rem;
  margin-top: 1rem;
  font-weight: 600;
}

.card_1,
.card_2,
.card_3 {
  border-radius: 12px;
  width: 27.5vw;
  background-color: #0977be;
  height: 15rem;
  margin-bottom: 2rem;
}

.card_2 {
  background-color: #2ba0e7;
}

.card_3 {
  background-color: #22bb3e;
}

.card_promo {
  display: flex;
  justify-content: space-between;
  margin-inline: var(--padding-default);
  margin-top: 1rem;
}

.lembaga p {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.pengembangan {
  margin-bottom: 3rem;
}

.testimoni {
  background: linear-gradient(180deg, #f3f5f7 0%, var(--color-white) 100%);
}

.testimoni h2 {
  color: #c0c2c6;
  font-weight: 800;
  font-size: 2rem;
  line-height: 50px;
  padding-block: 4rem 0.5rem;
}

.testimoni_card {
  display: flex;
  margin-inline: var(--padding-default);
  margin-bottom: 4rem;
}

.testimoni_card_body {
  text-align: start;
  background-color: var(--color-white);
  border-radius: 1rem;
  padding: 3rem;
  margin-inline: 1rem;
  box-shadow: 0px 3.5px 4px rgb(0 0 0 / 13%);
}

.testimoni_card_body p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  font-weight: 600;
}

.testimoni_profile {
  display: flex;
  align-items: center;
  font-style: normal;
}

.testimoni_profile img {
  width: 3rem;
  height: 3rem;
}

.testimoni_profile_text p {
  margin: 0 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.profile_name {
  color: #333539;
  font-weight: 700 !important;
}

.profile_desc {
  color: #94969b;
  font-weight: 600;
  font-size: 0.75rem;
}

.comprof {
  display: flex;
  align-items: center;
  max-width: 100vw;
}

.comprof .design {
  max-width: 35vw;
}

.comprof_desc .logo {
  filter: brightness(0) saturate(100%) invert(25%) sepia(87%) saturate(2222%)
    hue-rotate(186deg) brightness(95%) contrast(93%);
}

.comprof_desc {
  text-align: start;
  margin-inline: var(--padding-default);
}

.comprof_desc p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.84rem;
  font-weight: 600;
}

.comprof_desc .text_2 {
  color: #5a5c60;
  font-weight: 400;
}

.comprof_partner img {
  margin-right: 1rem;
}

h4 {
  font-weight: 800;
  color: #333539;
  font-size: 0.95rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem var(--padding-default);
  text-align: start;
  border-top: 3px solid #f1f2f4;
}

.footer p {
  font-size: 0.85rem;
}

.download img {
  width: 45%;
  margin-right: 1rem;
}

.partner_logo {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
}

.partner_footer {
  width: 19vw;
}

.partner_footer img {
  padding-right: 7px;
  padding-bottom: 10px;
}

.footer_sosmed {
  width: 25vw;
}

.sosmed img {
  margin-right: 10px;
}

.footer_copyright {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--padding-default);
  background: #f1f2f4;
}

.footer_copyright p {
  color: #94969b;
  font-size: 0.9rem;
}
.footer_sub {
  display: flex;
}

.footer_sub p {
  margin-left: 2rem;
  color: #5a5c60;
  font-size: 0.85rem;
}

.bar_2 {
  display: none;
}

.mobile {
  display: none;
}

.kategori_dropdown {
  transform: rotate(270deg);
}

@media screen and (min-width: 320px) and (max-height: 640px) and (-webkit-device-pixel-ratio: 2) {
  .App {
    --padding-default: 2rem;
  }
  .App-logo {
    width: 100px;
  }
  input {
    width: 72vw;
    margin-inline: var(--padding-default);
  }
  .bar_1 {
    display: none;
  }
  .bar_2 {
    display: block;
    padding-bottom: 0.5rem;
  }
  button {
    width: 70px;
  }
  .love {
    margin-left: 2rem;
  }
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  .sub_kategori.mobile {
    display: flex;
  }
  .sub_slider.mobile .image_slider {
    background: #acaeb2;
    border-radius: 1rem;
  }
  .slider_button_chevron_position,
  .slider2_button_chevron_position {
    margin-inline: 10px;
    bottom: 10.5rem;
  }
  .slider2_button_chevron_position {
    bottom: 3.75rem;
  }
  .slider_button_chevron {
    width: 2rem;
    height: 2rem;
  }
  .sub_slider.mobile {
    display: flex;
  }
  .berandaSlider {
    bottom: 3.5rem;
  }
  .image_box_slider.slider2 img {
    width: 82vw;
  }
  .navbar_button {
    width: 9rem;
  }
  .image_box_slider3 {
    width: 68vw;
  }
  .slider3_img {
    width: 68vw;
  }
  .clock_container.mobile {
    display: flex;
  }
  .clock_container.mobile p {
    font-size: 0.8rem;
  }
  .trending_title h2 {
    margin: 1rem 0 0 0;
    padding: 0;
  }
  .trending_sub_title {
    text-align: left;
    padding-left: 1rem;
  }
  .flash_clock {
    width: 26vw;
    align-items: center;
  }
  .flash_clock p {
    margin-left: 10px;
  }
  .trending_title {
    margin-top: 1rem;
  }
  .popular {
    flex-direction: column;
  }
  .popular.lembaga {
    flex-direction: row;
  }
  .popular_box {
    display: flex;
    align-items: center;
    width: 93%;
    height: 3rem;
  }
  .popular_box p {
    margin-left: 1rem;
  }
  .popular_box img {
    width: 60px;
  }
  .popular_box.lembaga {
    display: block;
    width: 3.5rem;
  }
  .popular_box.lembaga p {
    margin: 0;
  }
  .popular_box.lembaga:last-child,
  .popular_box.lembaga:nth-last-child(2) {
    display: none;
  }
  .lembaga p {
    font-size: 0.25rem;
  }
  .lembaga img {
    width: calc(100% - 1rem);
  }
  .sub_slider4.mobile {
    display: flex;
    margin-inline: var(--padding-default);
  }
  .card_1,
  .card_2,
  .card_3 {
    min-width: 70vw;
    height: 40vw;
    margin-right: 2rem;
  }
  h2 {
    font-size: 1rem;
    font-weight: 800;
  }
  .trending_title_terbaru {
    align-items: center;
  }
  .trending_title_terbaru p {
    font-size: 0.75rem;
  }
  .testimoni_card {
    overflow-x: hidden;
  }
  .testimoni_card_body {
    transition: transform ease 1s;
    min-width: 60vw;
    padding: 2rem;
    margin-block: 1rem;
  }
  .testimoni_text {
    font-size: 0.75rem;
  }
  .testimoni_profile img {
    width: 2rem;
    height: 2rem;
  }
  .profile_name {
    font-size: 0.8rem;
  }
  .profile_desc {
    font-size: 0.6rem;
  }
  .top_slider3,
  .top_slider4 {
    overflow-x: scroll;
  }
  .slideshowDots.black {
    background-color: #e5e6e9;
  }
  .slideshowDots.black.active {
    background-color: #333539;
  }
  .comprof {
    display: block;
  }
  .comprof_partner {
    display: flex;
  }
  .comprof_partner img {
    max-width: fit-content;
    height: 0.85rem;
  }
  .footer {
    display: grid;
    gap: 1rem;
    padding-block: 1rem;
  }
  .partner_footer,
  .footer_sosmed {
    width: auto;
  }
  .download img {
    width: 44%;
  }
  .footer_copyright {
    display: block;
    padding-block-start: 1rem;
  }
  .footer_copyright p:not(.footer_sub p) {
    font-size: 0.75rem;
  }
  .footer_sub {
    justify-content: space-around;
  }
  .search_button {
    top: calc(4rem - 3px);
    left: calc(2rem + 7px);
  }
  input {
    padding-left: 2rem;
  }
  .image_box_slider3:last-child {
    margin-right: 2rem;
  }
}
